@define-color base   #1a1b26;
@define-color mantle #16161e;
@define-color crust  #0f0f14;

@define-color text     #c0caf5;
@define-color subtext0 #a9b1d6;
@define-color subtext1 #9aa5ce;

@define-color surface0 #24283b;
@define-color surface1 #292e42;
@define-color surface2 #3b4261;

@define-color overlay0 #414868;
@define-color overlay1 #565f89;
@define-color overlay2 #787c99;

@define-color blue      #7aa2f7;
@define-color lavender  #bb9af7;
@define-color sapphire  #2ac3de;
@define-color sky       #7dcfff;
@define-color teal      #1abc9c;
@define-color green     #9ece6a;
@define-color yellow    #e0af68;
@define-color peach     #ff9e64;
@define-color maroon    #f7768e;
@define-color red       #db4b4b;
@define-color mauve     #bb9af7;
@define-color pink      #f7768e;
@define-color flamingo  #ff007c;
@define-color rosewater #ff9e64;
